<% provide(:title, 'New Group') %>
<div class="group-container">
<div class="w-full space-y-8">
<%= form_for @group, html: { class: "mt-5 mx-3" } do |f| %>
  <%= render  partial: 'shared/flash', locals: { model: @group } %>
  <%= render partial: 'shared/form_errors', locals:{ f: f} %>
  <div>
    <%= f.text_field :name, class: "ngroup-name", placeholder: "Name" %>
  </div>
    <ul class="bg-white border border-gray-300 rounded-md">
      <p class=" text-muted w-100 text-center border-b border-gray-300 py-2">select a group</p>
        <div class="grid grid-cols-5">
            <% 1.upto(20) do |i| %>
              <li class="p-4 m-1">
                <%= f.radio_button :icon, @icons[i]['link'], class: "focus:ring-secondary h-4 w-4 text-secondary border-gray-300" %>
                <%= f.label :icon, value: @icons[i]['link'], class: "w-2 h-2 py-4" do %>
                  <img src="<%= @icons[i]['link']%>" alt="" class="w-14 h-14">
                <% end %>
              </li>
            <% end %>
        </div>
    </ul>

  <div class="mt-6 flex flex-col items-center">
     <%= f.submit class: "ngroup-submit" %>
  </div>
<% end %>
</div>
</div>