<% provide(:title, 'Profile') %>

<div class="min-h-screen bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
<%= render partial: 'shared/flash' %>
<div class="max-w-md w-full space-y-8">
  <div class="text-center mb-5">
    <img src="<%= current_user.icon %>" alt="" class="">
    <h4 class=""><%= current_user.name %></h4>
  </div>

  <ul class="">
    <li class=""><%= link_to 'All my transactions' %></li>
    <li class=""><%= link_to 'All my external transactions'%></li>
    <li class=""><%= link_to 'All groups'%></li>
    <li class=""><%= link_to  "Logout", logout_url, method: :delete %></li>
  </ul>
</div>
</div>