<% provide(:title, 'Home') %>

  <div class="max-w-md w-full space-y-8">
    <%= form_with url: sign_in_path do |f| %>
      <%= show_alive %>
      <h1 class="mt-6 text-center text-3xl font-extrabold text-gray-900 mb-40">Group Our Projects</h1> 
      <div class="mp:mx-3">
          <div>
            <%= f.label :name, class: "mt-2 text-center text-xl text-gray-600 flex justify-center mb-10" %>
            <%= f.text_field :name, class: "sign-name", placeholder: 'Name' %>
          </div>
        <div class="mb-3">
          <%= f.submit 'LOG IN', class: 'log-button' %>
        </div>
        <div class="flex text-sm justify-center">
          <p class="pr-1">Don't have an account?</p>
          <%= link_to 'Sign up', sign_up_path, class: "text-primaryLight font-bold" %>
        </div>
      </div> 
    <% end %>
  </div>
