<!DOCTYPE html>
<html>
  <head>
    <title>GroupOurProjects</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:title" content="Group our projects">
    <meta property="og:image" content="https://raw.githubusercontent.com/AshakaE/group-our-projects/main/app/assets/images/f2.jpg">
    <meta property="og:site_name" content="https://mighty-badlands-86456.herokuapp.com/">
    <meta property="og:description" content="This is an application built with Ruby on Rails to help team members organize projects.">
    <meta property="twitter:card" content="summary">
    <meta property="twitter:url" content="https://mighty-badlands-86456.herokuapp.com/">
    <meta property="twitter:title" content="Group our peojects">
    <meta property="twitter:description" content="This is an application built with Ruby on Rails to help team members organize projects.">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.12.0/css/all.css">
  </head>

  <body class="font-body bg-primaryLight min-h-screen">
    
    <div class="max-w-2xl flex flex-1 flex-col items-center justify-center bg-gray-50 mx-auto min-h-full">

        <%= navbar yield(:title) %>
    
        <%= yield %>

    </div>
  </body>
</html>
